@import ./Variables

*
    margin: 0
    padding: 0
    box-sizing: 0

html, body, #root
    background-color: $color-white
    height: 100%

// CONTAINER
.container
    z-index: 0
    display: flex
    justify-content: space-between
    margin: 0 auto
    flex-wrap: wrap
    // border: 1px solid red
    width: 95%

    @media (min-width: 1200px)
        width: 1200px

.min-height
    min-height: 90vh

.start
    justify-content: flex-start

.column
    flex-direction: column
    justify-content: flex-start

.navCustom
    width: 100%
    z-index: 10
    
// NAVBAR
.navbar
    display: flex
    justify-content: space-between
    background-color: $color-black
    padding: 1rem
    font-family: $font-title

    .logonav
        width: 32px

    i
        display: none

    .list
        display: flex
        justify-content: space-around
        list-style: none
        align-items: center
        width: 85%
        @media (min-width: 768px)
            width: 28rem

    a
        color: $color-white
        text-decoration: none
        &:hover
            color: $color-primary

@media (max-width: 424px)
    i
        display: flex !important
        align-items: center
        font-size: 2rem
        color: $color-white
        cursor: pointer
    .list
        padding: .5rem 0
        gap: .5rem
        z-index: -1
        width: 100% !important
        position: absolute
        left: 0
        backdrop-filter: blur(2px)
        background-color: rgba($color-black, .7)
        flex-direction: column
        border-bottom: 1px solid rgba($color-black, .2)
        a
            font-weight: bold
            color: $color-black
    .hide
        animation-name: hide
        animation-duration: 1s
        transform: translateY(-200px)
    .show
        animation-name: show
        animation-duration: 1s
        transform: translateY(53px)
    
    @keyframes show
        0%
            opacity: 0
            transform: translateY(-200px)
        100%
            opacity: 1
            transform: translateY(53px)

    @keyframes hide
        0%
            opacity: 1
            transform: translateY(53px)
        100%
            opacity: 0
            transform: translateY(-200px)
            
// FOOTER
.footer
    color: $color-black
    font-family: $font-title
    width: 100%

p
    width: 100%
    font-size: 0.8rem
    display: flex
    justify-content: center
    align-items: center

    a
        margin-left: 0.2rem
        font-size: 0.8rem
        text-decoration: none
        font-weight: bold
        color: #56854c !important

        &:hover
            color: #345c2b !important

@media (min-width: 768px)
    p, span a
        font-size: 1.2rem
