@import ./Variables

*
    margin: 0
    padding: 0
    box-sizing: 0

html, body, #root
    background-color: $color-white
    height: 100%

    &::-webkit-scrollbar
        width: 6px
    &::-webkit-scrollbar-track
        background: $color-black
    &::-webkit-scrollbar-thumb
        background: $color-primary
        border: 2px solid $color-black
        border-radius: 20px

// CONTAINER
.container
    z-index: 0
    display: flex
    justify-content: space-between
    margin: 0 auto
    flex-wrap: wrap
    width: 95%

    @media (min-width: 1200px)
        width: 1200px

.min-height
    min-height: 90.6vh
    @media (min-width: 768px)
        min-height: 90.2vh

.start
    justify-content: flex-start

.column
    flex-direction: column
    justify-content: flex-start

.navCustom
    width: 100%
    z-index: 10

// LINKBUTTON
.btn
    font-size: $fontSm
    padding: 0.5rem 1.5rem
    text-decoration: none
    font-family: $font-title
    font-weight: bold
    color: $color-primary
    background-color: rgba($color-black, .8)
    margin: .5rem 0 0
    border: none
    border-radius: 5px
    transition: 200ms ease-in-out
    cursor: pointer
    &:hover
        background: rgba($color-black, 1)     

// MESSAGE
.message
    border: 2px solid #000
    width: 100%
    padding: .5rem 1rem
    margin: 0 auto
    text-align: center
    margin-bottom: 2rem
    border-radius: 5px
    font-size: $fontSsm
    font-family: $font-title
    font-weight: bold
    animation: showMessage 500ms ease-in-out 
.success
    border-color:#4fce69
    background-color: #adeeba
    color: #15802a
.error
    border-color:#ce4f4f
    background-color: #eeadad
    color: #801515

@keyframes showMessage
    0%
        opacity: 0
    100%
        opacity: 1
// NAVBAR
.navbar
    display: flex
    justify-content: space-between
    background-color: $color-black
    padding: 1rem
    font-family: $font-title
    .logonav
        width: 32px
    i
        font-size: $fontMd
        display: flex !important
        align-items: center
        color: $color-white
        cursor: pointer
    .list
        display: flex
        justify-content: space-around
        list-style: none
        align-items: center
        padding: .5rem 0
        gap: .5rem
        z-index: -1
        width: 100%
        position: absolute
        left: 0
        backdrop-filter: blur(2px)
        background-color: rgba($color-black, .7)
        flex-direction: column
        border-bottom: 1px solid rgba($color-black, .2)   
        a
            font-size: $fontSm
            color: $color-white
            text-decoration: none
            font-weight: bold
            &:hover
                color: $color-primary         
    .hide
        animation-name: hide
        animation-duration: 1s
        transform: translateY(-200px)
    .show
        animation-name: show
        animation-duration: 1s
        transform: translateY(53px)
    
    @keyframes show
        0%
            opacity: 0
            transform: translateY(-200px)
        100%
            opacity: 1
            transform: translateY(53px)

    @keyframes hide
        0%
            opacity: 1
            transform: translateY(53px)
        100%
            opacity: 0
            transform: translateY(-200px)

    @media (min-width: 425px)
        display: flex
        justify-content: space-between
        background-color: $color-black
        padding: 1rem
        font-family: $font-title
        i
            display: none !important
        .list
            display: flex
            flex-direction: row
            width: 85%
            position: relative
            @media (min-width: 768px)
                width: 28rem
        .hide, .show
            transform: translateY(0px)

// FOOTER
.footer
    color: $color-white
    background-color: $color-black
    font-family: $font-title
    width: 100%

    p
        width: 100%
        font-size: $fontSsm
        display: flex
        justify-content: center
        align-items: center

        a
            margin-left: 0.2rem
            font-size: $fontSsm
            text-decoration: none
            font-weight: bold
            color: $color-primary

            &:hover
                color: $color-secondary

    @media (min-width: 425px)
        p, p a
            font-size: $fontSm

// HOME
.home_container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 2rem
    h1
        font-family: $font-title
        font-size: $fontMmd
        span
            color: $color-primary
    p
        font-family: $font-title
        font-size: $fontSsm
    img
        width: 120%
        margin: 2rem 0 0
    @media (min-width: 425px)
        h1
            font-size: $fontXg
        p
            font-size: $fontSm
        img
            width: 82%
    @media (min-width: 768px)
        h1
            font-size: $fontXXg
        p
            font-size: $fontMmd
        img
            width: 33rem
